<div class="budget-container">
  <div class="date-container">
    <div class="date-label">
      Date:
    </div>

    <div
      #syncBox
      class="syncBox month-label"
      (scroll)="onScroll($event)"
    >
      @for (m of months() || []; track $index) {
        <p >
          {{ m.label }}
        </p>
      }
    </div>
  </div>

  <p class="budget-label">Income</p>
  <div class="budget-content">
    @for (parent of incomeCategories() || []; track parent.id) {
      <div class="budget-item">
        <div class="budget-parent-label">
          <p>{{ parent.name }}</p>
          <button (click)="openRemovedCategoryDialog(parent.id, parent.name, true)">x</button>
        </div>

        <div class="budget-children-content">
          @for (child of childrenOfParent(parent.id); track child.id) {
            <div class="budget-children-data">
              <p class="budget-children-label">{{ child.name }}</p>

              <div
                #syncBox
                class="syncBox budget-children-input-boxes"
                (scroll)="onScroll($event)"
              >
                @for (item of getRow(child.id, parent.id) || []; track item.month) {
                  <input
                    #input
                    type="number"
                    class="input-budget-amount"
                    [ngModel]="item.value"
                    (ngModelChange)="updateCell(child.id, parent.id, item.month, $event)"
                    (contextmenu)="showContext($event, child.id)"
                  />
                }
              </div>

              <button (click)="openRemovedCategoryDialog(child.id, child.name)">x</button>
            </div>
          }

          @if (childrenOfParent(parent.id).length === 0) {
            <div class="no-subcategories">
              No subcategories of {{ parent.name | titlecase}} yet
            </div>
          }
        </div>

        <div
          class="btn-add-subcategory"
          (click)="openCreatedCategoryDialog(parent.type, parent.id)"
        >
          <p>
            Add new <b>{{ parent.type | titlecase }}</b> sub-category
          </p>
        </div>

        <div class="subtotal-container">
          <b class="subtotal-label">Sub total:</b>
          <div
            #syncBox
            class="syncBox total-boxes"
            (scroll)="onScroll($event)"
          >
            @for (total of parentTotalsById().get(parent.id); track $index) {
              <p class="total-data">{{ total }}</p>
            }
          </div>
        </div>
      </div>
    }

    @if (incomeCategories().length === 0) {
      <div class="no-subcategories">
        No categories of Income yet
      </div>
    }

    <div
      class="btn-add-category"
      (click)="openCreatedCategoryDialog('income')"
    >
      <p>
        Add new <b>{{ 'income' | titlecase }}</b> category
      </p>
    </div>

    <div class="total-monthly-content">
      <b class="total-monthly-label">Total:</b>
      <div
        #syncBox
        class="syncBox total-boxes"
        (scroll)="onScroll($event)"
      >
        @for (total of totalMonthlyIncome(); track $index) {
          <p class="total-data">{{ total }}</p>
        }
      </div>
    </div>
  </div>


  <p class="budget-label">Expense</p>
  <div class="budget-content">
    @for (parent of expensesCategories() || []; track parent.id) {
      <div class="budget-item">
        <div class="budget-parent-label">
          <p>{{ parent.name }}</p>
          <button (click)="openRemovedCategoryDialog(parent.id, parent.name, true)">x</button>
        </div>

        <div class="budget-children-content">
          @for (child of childrenOfParent(parent.id); track child.id) {
            <div class="budget-children-data">
              <p class="budget-children-label">{{ child.name }}</p>

              <div
                #syncBox
                class="syncBox budget-children-input-boxes"
                (scroll)="onScroll($event)"
              >
                @for (item of getRow(child.id, parent.id) || []; track item.month) {
                  <input
                    #input
                    type="number"
                    class="input-budget-amount"
                    [ngModel]="item.value"
                    (ngModelChange)="updateCell(child.id, parent.id, item.month, $event)"
                    (contextmenu)="showContext($event, child.id)"
                  />
                }
              </div>

              <button (click)="openRemovedCategoryDialog(child.id, child.name)">x</button>
            </div>
          }

          @if (childrenOfParent(parent.id).length === 0) {
            <div class="no-subcategories">
              No subcategories of {{ parent.name | titlecase}} yet
            </div>
          }
        </div>

        <div
          class="btn-add-subcategory"
          (click)="openCreatedCategoryDialog(parent.type, parent.id)"
        >
          <p>
            Add new <b>{{ parent.type | titlecase }}</b> sub-category
          </p>
        </div>

        <div class="subtotal-container">
          <b class="subtotal-label">Sub total:</b>
          <div
            #syncBox
            class="syncBox total-boxes"
            (scroll)="onScroll($event)"
          >
            @for (total of parentTotalsById().get(parent.id); track $index) {
              <p class="total-data">{{ total }}</p>
            }
          </div>
        </div>
      </div>
    }

    @if (expensesCategories().length === 0) {
      <div class="no-subcategories">
        No categories of Expense yet
      </div>
    }

    <div
      class="btn-add-category"
      (click)="openCreatedCategoryDialog('expense')"
    >
      <p>
        Add new <b>{{ 'expense' | titlecase }}</b> category
      </p>
    </div>

    <div class="total-monthly-content">
      <b class="total-monthly-label">Total:</b>
      <div
        #syncBox
        class="syncBox total-boxes"
        (scroll)="onScroll($event)"
      >
        @for (total of totalMonthlyExpense(); track $index) {
          <p class="total-data">{{ total }}</p>
        }
      </div>
    </div>
  </div>


  <div class="footer-container">
    <div class="total-monthly-content">
      <b class="total-monthly-label">
        Profit and loss:
      </b>
      <div
        #syncBox
        class="syncBox total-boxes"
        (scroll)="onScroll($event)"
      >
        @for (pnl of profitAndLoss(); track $index) {
          <p class="total-data">{{ pnl }}</p>
        }
      </div>
    </div>

    <div class="total-monthly-content">
      <b class="total-monthly-label">
        Opening balance:
      </b>
      <div
        #syncBox
        class="syncBox total-boxes"
        (scroll)="onScroll($event)"
      >
        @for (pnl of openingBalance(); track $index) {
          <p class="total-data">{{ pnl }}</p>
        }
      </div>
    </div>

    <div class="total-monthly-content">
      <b class="total-monthly-label">
        Closing balance:
      </b>
      <div
        #syncBox
        class="syncBox total-boxes"
        (scroll)="onScroll($event)"
      >
        @for (pnl of closingBalance(); track $index) {
          <p class="total-data">{{ pnl }}</p>
        }
      </div>
    </div>
  </div>
</div>

@if (context().visible) {
  <bb-context-menu
    [x]="context().x"
    [y]="context().y"
    (apply)="openConfirmApplyToAllDialog()"
    (close)="hideMenu()"
  />
}

@if (removedCategoryDialogData().status) {
  <bb-dialog
    #removedDialog
    (ok)="onRemoveCategory()"
    (cancel)="onCloseRemovedCategoryDialog()"
    (close)="onCloseRemovedCategoryDialog()"
  >
    <h2 dialog-title>
      Confirm Delete
    </h2>

    <p dialog-body>
      Are you sure you want to delete <b>{{ removedCategoryDialogData().name }}</b>?
    </p>
  
    <button
      dialog-actions
      class="button-secondary"
      (click)="removedDialog.triggerCancel()"
    >
      Cancel
    </button>
    <button
      dialog-actions
      class="button-primary"
      (click)="removedDialog.triggerOk()"
    >
      OK
    </button>
  </bb-dialog>
}

@if (createdCategoryDialogData().status) {
  <bb-dialog
    #removedDialog
    (ok)="onCreateCategory()"
    (cancel)="onCloseCreatedCategoryDialog()"
    (close)="onCloseCreatedCategoryDialog()"
  >
    <h2 dialog-title>
      Create {{ createdCategoryDialogData().type | titlecase }} Category
    </h2>

    <div dialog-body>
      <form [formGroup]="formCategory" novalidate>
        <input
          type="text"
          id="category-name"
          class="input-category-name"
          [class.invalid-category-input]="nameControl.invalid && (nameControl.dirty || nameControl.touched)"
          formControlName="name"
          [placeholder]="'Input ' + (createdCategoryDialogData().type | titlecase) + ' name'"
          required
        >

        @if (nameControl.invalid && (nameControl.dirty || nameControl.touched)) {
          <div class="invalid-category-name">
            @if (nameControl.hasError('required')) {
              <span>
                Name is required.
              </span>
            }
            @if (nameControl.hasError('minlength')) {
              <span>
                Name must be at least 2 characters long.
              </span>
            }
            @if (nameControl.hasError('forbiddenName')) {
              <span>
                Only letters, numbers, single spaces between words is allowed.
              </span>
            }
          </div>
        }
      </form>
    </div>

    <button
      dialog-actions
      class="button-secondary"
      (click)="removedDialog.triggerCancel()"
    >
      Cancel
    </button>
    <button
      dialog-actions
      class="button-primary"
      (click)="removedDialog.triggerOk()"
    >
      OK
    </button>
  </bb-dialog>
}

@if (applyAllDialogData().status) {
  <bb-dialog
    #removedDialog
    (ok)="onAcceptApplyToAll()"
    (cancel)="onCloseConfirmApplyToAllDialog()"
    (close)="onCloseConfirmApplyToAllDialog()"
  >
    <h2 dialog-title>
      Confirm
    </h2>

    <div dialog-body>
      Do you want to apply this value to all months?
    </div>

    <button
      dialog-actions
      class="button-secondary"
      (click)="removedDialog.triggerCancel()"
    >
      Cancel
    </button>
    <button
      dialog-actions
      class="button-primary"
      (click)="removedDialog.triggerOk()"
    >
      OK
    </button>
  </bb-dialog>
}
