<div class="date-container">
  <div>
    <label
      class="date-title"
      for="month-selector"
    >
      Number of months:
    </label>

    <select
      id="month-selector"
      [ngModel]="_numberOfMonths()"
      (change)="updateMonth($event)"
    >
      @for (month of months; track $index) {
        <option [value]="month">{{ month }}</option>
      }
    </select>
  </div>

  <div>
    <label
      class="date-title"
      for="year-selector"
    >
      Year:
    </label>

    <select
      id="year-selector"
      [ngModel]="_year()"
      (change)="updateYear($event)"
    >
      @for (year of years; track $index) {
        <option [value]="year">{{ year }}</option>
      }
    </select>
  </div>
</div>